.section-login {
  background: rgb(203, 204, 243);
  height: 100vh;
  padding: 0 20px;
  &__form {
    &-input {
      width: 100%;
      margin: 6px 0;
    }
  }
}


.logo {
  width: 500px;

  &-md {
      width: 300px;
  }
}